$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

/* Put your CSS here */
html, body {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
}

.hide {
    display: none;
}
