<h1>{{controllers.application.inboxName}}</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Time</th>
            <th>Subject</th>
        </tr>
    </thead>
    <tbody>
    {{#each emails}}
        <tr>
            <td>
                {{format-date created_at}}
            </td>
            <td>
                {{#link-to "email" controllers.application.inboxName raw_message_id}}
                    {{subject}}
                {{/link-to}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
